# =========================
# Python
# =========================
venv/
backend/venv/
__pycache__/
*.pyc

# =========================
# React / Node
# =========================
node_modules/
dist/
build/
.vite/

# =========================
# Environment files
# =========================
.env

# =========================
# VS Code / OS
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db

# =========================
# Large ML files
# =========================
*.dll
*.pt
*.pth
*.bin